/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentdddd</title>
</head> */
body{
    background-color:bisque;
}
h2,h3,h4{
    color:#7F171F;

}
p,p2,p3{
    color:yellow;
}

    
   
 